body {
  /*background-color: PapayaWhip;*/
  /*background-color: OldLace;*/
  background-color: #a59999;
  font-family: Arial, Helvetica, sans-serif;
}

.blockDiv {
  text-align: center;
  border-style: solid;
}

.btn {
  position: absolute;
  top: 45%;
  height: 2em;
  margin-top: -1em;
  width: 100px;
  border: solid;
  border-color:rgb(34, 35, 153);
  border-width: 1.5px;
  font-size: 17px;
  font-weight:  bold;
}
 .userMsgs{
  display: inline-block;
  vertical-align: top;
  background-color: #ce3126e6;
  border: solid;
  border-color: rgb(34, 22, 22);
  border-width: 1px;
  padding: 5px;
  padding-top: 6px;
  width: 200px;
  text-align: center;
  cursor: default;
}
.inlineDiv{
  box-sizing: border-box;
  display: inline-block;
  border-style: solid;
}

.topLeftDiv{
  width: 54%;
  text-align: right;  
}
.topRightDiv{
  width: 46%;
}

.bottomLeftDiv{
  width: 46%;
  text-align: right;  
}
.bottomRightDiv{
  width: 54%;
}

.topRightDiv > img {
  padding-left: 20px;
}

.bottomLeftDiv > img {
  padding-right: 20px;
}

div > img {
  height: 150px;
  vertical-align: middle;
}

button:hover {
  cursor: pointer;
  border-width: 3px;
}
.playerCard{
  cursor: pointer;
}